name: Build and Upload JAR to S3

on:
  push:
    branches: [ "main" ]   # runs when code is pushed/merged to main

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      # Maven build 
      - name: Build with Maven
        run: mvn -B clean package

      - name: Prepare JAR as app.jar
        run: |
          mkdir -p build_artifact
          cp target/*.jar build_artifact/app.jar

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload JAR to S3
        run: aws s3 cp build_artifact/app.jar s3://${{ secrets.S3_BUCKET }}/${{ secrets.S3_KEY }}

